
.my-login {
    position: absolute;
    top: 44px;
    bottom: 50px;
    width: 100%;
}
.getCode1 {
    position: relative;
}
#getCode {
    position: absolute;
    right: 0px;
    /* 定位垂直居中 */
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #069;
}
.getbtn {
    width: 80%;
    margin: 20px 10px 0 10px;
    background-color: #069;
}
.register {
    display: block;
    text-align: right;
}